.history-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $primaryText;
  color: $color0;
  @media screen and (max-width: $mobile) {
    font-size: $primaryTextMobile;
  }
}
