.input-wrapper {
  display: flex;
  flex-basis: 45%;
  @media screen and (max-width: $mobile) {
    flex-basis: 100%;
    margin-bottom: 12px;
  }
}

.input {
  border: 2px solid $color7;
  box-sizing: border-box;
  border-radius: $radius;
  padding: 14px 38px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $primaryText;
  color: $color7;
  width: 100%;
  @media screen and (max-width: $mobile) {
    font-size: $titleTextMobile;
    padding: 10px 16px;
  }
}
