$color0: #f6f6f5;
$color1: linear-gradient(180deg, #4a5957 0%, #353d3c 100%);
$color2: #956944;
$color3: #d7a968;
$color4: #000000;
$color5: #817d6c;
$color6: #434e4d;
$color7: #434f4d;

$radius: 10px;
$primaryText: 30px;
$titleText: 45px;
$headerText: 80px;
