.history {
  border-radius: $radius;
  padding: 27px 21px;
  background-color: $color2;
  position: relative;
}

.history__header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $titleText;
  color: $color0;
  margin-bottom: 40px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: $titleTextMobile;
  }
}

.history__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  @media screen and (max-width: $mobile) {
    justify-content: flex-start;
  }
}

.history__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $primaryText;
  background: $color0;
  border-radius: 50px;
  display: flex;
  padding: 11px 59px;
  width: 365px;
  box-sizing: border-box;
  > a {
    color: $color5;
    text-decoration: none;
  }
  @media screen and (max-width: $mobile) {
    border-radius: 20px;
    display: flex;
    padding: 8px 20px;
    width: 100%;
    font-size: $titleTextMobile;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.history__image {
  position: absolute;
  top: -150px;
  right: 0;
  @media screen and (max-width: $mobile) {
    width: 30%;
    top: -10%;
  }
}
