.header-wrap {
  > a {
    text-decoration: none;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 40px;
    justify-content: center;
  }
}

.header__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $headerText;
  color: $color0;
  margin: 0;
  margin-left: 20px;
  @media screen and (max-width: $mobile) {
    font-size: $headerTextMobile;
    margin-left: 10px;
  }
}
