.favorite-currencies {
  background: $color0;
  border-radius: $radius;
  padding: 27px 21px;
  margin-bottom: 95px;
  @media screen and (max-width: $mobile) {
    box-sizing: border-box;
    margin-bottom: 40px;
  }
}

.favorite-currencies__header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $titleText;
  color: $color2;
  margin-bottom: 40px;
  @media screen and (max-width: $mobile) {
    margin-bottom: 20px;
    font-size: $titleTextMobile;
  }
}

.favorite-currencies__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobile) {
    flex-direction: column;
    justify-content: flex-start;
  }
}
